@{
  Layout = "_Layout";
}

<p>Enter a word and a sentence below. Click the submit button to find out how may times the word appears in the sentence</p>

<form action="/repeatCounter" method="post">

  <div class='form-group'>
    <label for='new-word'>Enter SINGLE Word</label>
    <input id='new-word' name='new-word' class='form-control' type='text'>
  </div>

  <div class='form-group'>
    <label for='new-sentence'>Enter Sentence</label>
    <input id='new-sentence' name='new-sentence' class='form-control' type='text'>
  </div>

  <button type="submit">Submit</button>
</form>
