<h1>Eddie's Words Counter</h1>
<p>
<form action="/words" method="post">


  <div class='form-group'>
    <label for='firstWord'>Enter Word</label>
    <input id='firstWord' name='firstWord' class='form-control' type='text'>
  </div>

  <div class='form-group'>
    <label for='testSentence'>Enter Sentence</label>
    <input id='testSentence' name='testSentence' class='form-control' type='text'>
  </div>


  <button type="submit">Submit</button>
</form>
