@{
  Layout = "_Layout";
}


<p>Enter a word and a sentence below. Click the submit button to find out hoe may times the word appears in the sentence</p>


<form action="/words" method="post">


  <div class='form-group'>
    <label for='firstWord'>Enter Word</label>
    <input id='firstWord' name='firstWord' class='form-control' type='text'>
  </div>

  <div class='form-group'>
    <label for='testSentence'>Enter Sentence</label>
    <input id='testSentence' name='testSentence' class='form-control' type='text'>
  </div>


  <button type="submit">Submit</button>
</form>
