<h1>Eddie's Words Counter</h1>
<ul>
  @foreach(var word in Model)
  {
    <li>@word.test()</li>
  }
</ul>
<p><a href="/words/new">Add another item</a></p>
<form action="/words/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
